bin/
bin-int/

*.vcxproj
*.vcxproj.*

.vscode/
.vs/

*.iml
.idea/
.externalNativeBuild/
.gradle/
gradle/
gradlew*
local.properties
build/
support/.cxx

bin/
/_CPack_Packages
/CMakeScripts
/doc/doxyxml
/doc/html
/doc/node_modules
virtualenv
/Testing
/install_manifest.txt
*~
*.a
*.so*
*.xcodeproj
*~
.vscode/
/CMakeScripts
/Testing
/_CPack_Packages
/doc/doxyxml
/doc/html
/doc/node_modules
/install_manifest.txt
CMakeCache.txt
CMakeFiles
CPack*.cmake
CTestTestfile.cmake
FMT.build
Makefile
bin/
build/
cmake_install.cmake
fmt-*.cmake
fmt.pc
virtualenv

bin/
bin-int/
*.vcxproj
*.vcxproj.*